CountingPath

In [59]:
import pymysql
db = pymysql.connect("1.162.49.226","bdse0305","bdse0305","bdse03-travel",charset='utf8' )
cur=db.cursor()

In [60]:
sql = """CREATE TABLE ginwaydu2 (
         place  VARCHAR(50),
         longtitude  FLOAT,
         lattitude FLOAT,  
         count INT)"""

In [61]:
cur.execute(sql)

0